header {
	height: 40px;
	background-image: url("images.jpg");
	padding-top: 0px;
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid white;
}

nav a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}

nav {
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
}

header h1 {
	text-align: center;
	margin-top: 0px;
	color:white;
	padding-left: 0px;
	padding-top:;
}

body {
	background-color: black;
	padding: 0px;
	margin: 0px;
}

main {
	margin-top: 40px;
}

main img {
	width: 640px;
	height:425px ;
}

main h1 {
	text-align: center;
	color: white;
}

.usf {
	diplay: flex;
}

.usf img {
	width: 95%;
	height: auto;
	padding-left: 50px;
}

main p {
	color: white;
	display: flex;
}

.p1 {
	padding-left: 80px;
	padding-right: 80px;
	font-size: 30px;
	text-align: center;
}

.content1 {
	padding: 300px;
}