body {
	background-color: black;
	padding: 0px;
	margin: 0px;
}

header {
	height: 40px;
	background-image: url("images.jpg");
	padding-top: 0px;
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid white;
}

nav {
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
}

nav a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}

header h1 {
	text-align: center;
	margin-top: 0px;
	color:white;
	padding-left: 0px;
	padding-top:;
}

main {
	margin-top: 40px;}

main h1 {
	color: white;
	text-align: center;
}

main h3 {
	color: white;
}

.f1 {
	width: 622px;
	height: 418px;
	display: flex;

}

.ggg7 {
	margin-left: 100px;
}

.ggwp {

}
